@use 'sass:meta';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

*[data-theme='light'] {
    @include meta.load-css('highlight.js/styles/github');
}
*[data-theme='dark'] {
    @include meta.load-css('highlight.js/styles/github-dark');
}

:root {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --sky-50: #f0f5f9;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;

    --bp-lg: 1024px;
    --bp-md: 768px;
    --bp-sm: 640px;
    --bp-xs: 480px;

    @media screen {
        &[data-theme='dark'] {
            background-color: var(--sky-950);
        }
    }
}

body {
    margin: 0;
}

#app {
    position: relative;
}

.input-primary {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
    border: 2px solid #cbd5e1;
    width: calc(100% - 4rem);
    padding: 0 2rem;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--sky-600);
    transition: all 0.1s ease-in-out;

    &:active,
    &:focus,
    &:hover {
        border: 2px solid var(--sky-500);
        outline: none;
    }

    &::placeholder {
        color: rgba(100, 116, 139, 0.75);
        font-weight: 300;
    }
}

.input-primary.input-error {
    border: 2px solid #dc2626 !important;
    color: #dc2626 !important;
}

.input-primary.input-error::placeholder {
    color: #ef4444 !important;
}

.error-message {
    color: #e53e3e;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

*[data-theme='dark'] {
    .input-primary {
        background-color: #020617;
        border: 2px solid color-mix(in srgb, var(--sky-950), transparent 10%);
        color: var(--sky-100);
        &::placeholder {
            color: #94a3b8;
        }
        &:active,
        &:focus,
        &:hover {
            border: 2px solid var(--sky-900);
            outline: none;
        }
    }
}

.btn-primary {
    background-color: var(--sky-600);
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.25s ease-out, filter 0.25s ease-in-out;

    &:active,
    &:focus,
    &:hover {
        box-shadow: 0 0 1rem 0.5rem rgba(14, 165, 233, 0.2);
        filter: brightness(1.1);
        outline: none;
    }
}

@media only screen and (max-width: 768px) {
    .btn-primary {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 640px) {
    .input-primary {
        font-size: 1.25rem;
        height: 3rem;
    }
}
